<h1>Plesase edit your album.</h1>

<form action="/albums/<%= @album.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
<br>
<label for="title">Title:</label>
<br>
<input type ="text" name ="title" value="<%=@album.title%>">
<%= errors_for(@album, :title)%>
<br>
<label for="artist">Artist:</label>
<input type ="text" name ="artist" value="<%=@album.artist%>">
<br>
<label for="rating">Rating:</label>
<input type ="number" name ="rating" value="<%=@album.rating%>">
<br>
<input type ="submit" value="Submit">
</form>