<h2>Albums Table.</h2>
<a href="/albums/new">Click here to add new album</a><br>
<table border="2">
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <%@albums.each.with_index(1) do |album,ind|%> 
        <tr>
            <th><%=ind%></th>
            <th><%=album.title%></th>
            <th><%=album.artist%></th>
            <th><%=album.rating%></th>
            <th>
                <a href="/albums/<%=album.id%>/edit">Click here to edit your album</a><br>
                <a href="/albums/<%=album.id%>">Click here to see your album</a>
                <form method="post" action="/albums/<%=album.id%>/delete">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="Delete Album">
                </form>
            </th>
        </tr>
      <%end%>
  </tbody>
</table>

